* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app {
  background: #646F4B;
}

header {
  display: flex;
  height: 10vh;
  width: 100%;
}

h1 {
  color: #DABECA;
  font-size: 2.5em;
}

.title-change {
  color: #BF8B85;
}

.body {
  display: flex;
}

nav {
  width: 20%;
}

main {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
}