h2 {
    font-size: 1.4em;
    padding: 10px;
}

img {
    border-radius: 10px 10px 0px 0px;
    height: 30vh;
    width: 100%;
}

.news-article {
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 55vh;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
    text-align: center;
    width: 40%;
}

.article-link {
    background-color: #A9A1B5;
    border-radius: 5px;
    color: white;
    font-size: 1.2em;
    margin-bottom: 0px;
    padding: 10px;
    text-decoration: none;
    width: 100%;
}